@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: #fafafa;
}

/* ----- Login ----- */
.container {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
  height: 100vh;
}
/* Hero */
.left-container {
  display: flex;
  width: 40%;
  justify-content: center;
}

.hero-img {
  width: 85%;
  border: 20px solid #fff;
  border-radius: 50%;
  box-shadow: 0 4px 31px rgba(0, 0, 0, 0.04);
}

/* Form*/
.right-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 35%;
}

.logo img {
  width: 50%;
}

.logo .tag-line {
  margin: 20px 0;
  font-size: 40px;
  line-height: 47px;
  font-weight: 300;
  letter-spacing: 0;
  color: #3e3e3e;
}

.logo p span {
  color: #c8242f;
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
  margin: 23px 0;
}

.right-container h2 {
  font-size: 25px;
  line-height: 33px;
  font-weight: normal;
  margin: 0;
  color: #3e3e3e;
}

form input {
  height: 45px;
  border: 1px solid #adadad;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 28px;
}

a {
  text-decoration: none;
  color: #c8242f;
}

#login-btn {
  height: 45px;
  width: 145px;
  font-size: 18px;
  font-weight: 24px;
  color: #fff;
  background-color: #c8242f;
  border: none;
  border-radius: 23px;
}

#login-btn:hover {
  background-color: #fff;
  color: #c8242f;
  border: 2px solid #c8242f;
}

.log-in-forgot-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log-in-forgot-password a {
  color: #adadad;
}

.right-container p {
  font-size: 15px;
  line-height: 20px;
  color: #adadad;
}

/* ----- Dashboard ----- */
/* Header */
header {
  height: 80px;
  align-items: center;
  background: #fff;
}

.icon {
  width: 18px;
  height: 18px;
}

.left-header {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.left-header .header-logo {
  margin: 0 10% 0 1%;
}

.left-header .header-logo img {
  height: 2rem;
}

.left-header .search-box {
  display: flex;
  align-items: center;
  background: #fafafa;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
}
.left-header .search-box .search-icon {
  display: flex;
  margin-right: 15px;
}

.search-box input {
  border: 1px solid #fafafa;
  background: #fafafa;
}

.search-box input:focus {
  outline: none;
}

.right-header {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 1rem;
  min-width: 20%;
}

.right-header .profile-box {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  min-width: 60%;
}

.profile-box .profile-image {
  width: 44px;
  aspect-ratio: 1;
}

.profile-box .down-arrow-icon {
  display: flex;
}
.profile-box .down-arrow-icon img {
  width: 18px;
}

/* Section */
section {
  display: flex;
}
/* Nav */
nav {
  background: #fff;
}

nav ul {
  margin: 0;
  padding: 0 30px;
}

nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.list-group-item {
  border: none !important;
}

.nav-icon-box {
  display: flex;
  align-items: center;
  padding: 10px 40px 10px 20px;
  border-radius: 5px;
}

.nav-icon-box .icon {
  margin-right: 10px;
}

.nav-icon-box a {
  margin: 0;
  text-decoration: none;
  color: #3e3e3e;
}

.icon-box-active {
  background: #fff3f4;
}
.icon-box-active a {
  color: #c8242f;
}

/* Article */
article {
  width: 100%;
  background: #fafafa;
  padding: 40px 48px;
}

article h2 {
  font-family: Roboto;
  font-size: 30px;
  font-family: 39px;
}

article .row {
  column-gap: 1rem;
}

.feature-box {
  display: flex;
  padding: 5px 15px 5px 5px;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  min-width: max-content;
}

.feature-icon {
  display: flex;
  width: 35px;
  margin-right: 15px;
}

.feature-box h3 {
  font-size: 25px;
  line-height: 33px;
  font-family: Roboto;
  margin-top: 10px;
}

.feature-box p {
  font-size: 0.8rem;
  line-height: 1rem;
  color: #3e3e3e;
  font-weight: normal;
  padding: 0;
}

.sales-stats {
  display: grid;
  grid-template-columns: 4fr 2fr;
  column-gap: 2rem;
  margin: 30px 0 15px;
}

.sales-stats h3 {
  font-size: 22px;
  line-height: 29px;
  color: #3e3e3e;
}

.data-graph {
  background: #fff;
  padding: 1.5rem;
  border-radius: 5px;
}
.data-graph-title {
  display: grid;
  grid-template-columns: 9fr repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.data-graph-title p {
  font-size: 15px;
  line-height: 20px;
  color: #adadad;
}

.sales-stats img {
  width: 100%;
}

.pie-graph {
  background: #fff;
  border-radius: 5px;
  padding: 1.5rem;
}
.pie-graph img {
  display: flex;
  width: 80%;
  margin-inline: auto;
}

.pie-graph-status {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.pie-graph-status p span {
  font-size: 0.8rem;
  line-height: 1rem;
}

.indicator {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.indicator-red {
  background: #c8242f;
}
.indicator-green {
  background: #a2b86c;
}
.indicator-orange {
  background: #f16c20;
}
.indicator-yellow {
  background: #ebc844;
}

.invoices {
  margin: 40px 0;
  background: #fff;
  padding: 1.5rem;
  border-radius: 5px;
}

.invoices h3 {
  font-size: 22px;
  line-height: 29px;
  color: #3e3e3e;
}
.invoices div a {
  font-size: 12px;
  line-height: 16px;
  color: #c8242f !important;
}

th {
  font-size: 15px;
  line-height: 20px;
  color: #adadad;
  font-weight: normal;
}
table {
  margin-top: 2rem;
}
tr {
  line-height: 30px;
}

.badge-paid {
  background: #ebffef;
  color: #3cdd5f !important;
}
.badge-failed {
  background: #fff5f5;
  color: #ff4545 !important;
}
.badge-pending {
  background: #f8f8f8;
  color: #bababa !important;
}

/*----- Innerpage -----*/

/* Article */

.container div h3 {
  font-size: 22px;
  line-height: 29px;
  color: #3e3e3e;
}

/*----- MEDIA QUERIES ------*/

@media screen and (max-width: 1080px) {
  .pie-graph-status {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  div .nav {
    position: absolute;
    transform: translateX(-100%);
    transition: all 500ms ease-in-out;
  }

  .sales-stats {
    grid-template-columns: 1fr;
  }
  .pie-graph-status {
    grid-template-columns: repeat(4, 1fr);
  }
  .pie-graph img {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .profile-box span {
    display: none;
  }
  .feature-row {
    max-width: 100%;
  }
  .sales-stats {
    grid-template-columns: 1fr;
  }
  .invoices {
    max-width: 100%;
  }
}
