@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: #fafafa;
}

.container {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
  height: 100vh;
}

.left-container {
  display: flex;
  width: 40%;
  justify-content: center;
}

.hero-img {
  width: 85%;
  border: 20px solid #fff;
  border-radius: 50%;
  box-shadow: 0 4px 31px rgba(0, 0, 0, 0.04);
}

.right-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 35%;
}

.logo img {
  width: 50%;
}

.logo .tag-line {
  margin: 20px 0;
  font-size: 40px;
  line-height: 47px;
  font-weight: 300;
  letter-spacing: 0;
  color: #3e3e3e;
}

.logo p span {
  color: #c8242f;
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
  margin: 23px 0;
}

.right-container h2 {
  font-size: 25px;
  line-height: 33px;
  font-weight: normal;
  margin: 0;
  color: #3e3e3e;
}

form input {
  height: 45px;
  border: 1px solid #adadad;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 28px;
}

a {
  text-decoration: none;
  color: #c8242f;
}

#login-btn {
  height: 45px;
  width: 145px;
  font-size: 18px;
  font-weight: 24px;
  color: #fff;
  background-color: #c8242f;
  border: none;
  border-radius: 23px;
}

.log-in-forgot-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log-in-forgot-password a {
  color: #adadad;
}

.right-container p {
  font-size: 15px;
  line-height: 20px;
  color: #adadad;
}

header {
  display: flex;
  height: 80px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.left-header {
  display: flex;
}

.left-header div {
  display: flex;
}

.header-logo {
  width: 140px;
  height: 30px;
}

.icon {
  width: 18px;
  height: 18px;
}

.side-navigation {
  background: #fff;
}
